<% layout("/layouts/boilerplate") %>
<!-- error flash -->
<div class="row">
  <div
    class="alert alert-danger d-flex align-items-center col-6 offset-3 mt-3"
    role="alert"
  >
    <div><%= err.message %></div>
  </div>
</div>
